@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Nunito:wght@300;400;500;600;700&display=swap");
:root {
  --fontMerriweather: "Merriweather", serif;
  --fontComingSoon: "Coming Soon", cursive;
  --fontNunito: "Nunito", sans-serif;

  --primaryTextColor: #232e35;
  --secondaryTextColor: #656d72;

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9;

  --primaryIconColor: #7e74f1;
  --primaryIconColorHover: #5d51e8;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontComingSoon);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem; /* 16 px */
  line-height: 1.9rem;
}

p,
span,
label,
input,
texarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

.main-container .nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.main-container .nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav ul li {
  color: #232e35;
}
